footer .foot_logo {
  height: 132px;
  border: 1px solid blue;
}
footer .foot_non_logo {
  visibility: hidden !important;
}
footer .foot_text {
  text-align: center;
  margin-top: 40px;
}
footer .list_style {
  list-style: none;
  text-align: center;
  margin: 0 auto;
}
footer .list_style li {
  font-size: 16px;
  color: gray;
  font-weight: 800;
}
footer .list_style span {
  font-size: 24px;
  color: pink;
  font-weight: 800;
  margin-left: 5px;
}
footer .customer_list_style {
  list-style: inside;
  font-size: 16px;
  color: gray;
  font-weight: 800;
}
footer .customer_list_style li {
  color: red;
}
footer .customer_list_style li p {
  color: gray;
  margin-bottom: 0 !important;
}
footer .foot_number_tel {
  font-size: 42px;
  font-weight: 900;
  color: pink;
  text-align: center;
  margin-top: 40px;
}
