.Header {
	padding: 1rem 0;
	background-color: rgba(0, 0, 0, .5);
	color: white;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
	&.Header_mini {
		@media @lg, @xl {
			.Header-logoText {
				height: 0;
			}
			.Header-logo img {
				height: 3.5rem;
			}
		}
	}
	.Header-row {
		.flex();
		align-items: center;
		justify-content: space-between;
	}
	.Header-logoText {
		transition: all .5s;
		will-change: height;
		overflow: hidden;
		margin: 0;
		text-align: center;
		height: 3.6rem;
	}
	.Header-logo img {
		will-change: height;
		transition: all .5s;
		height: 5rem;
		width: auto;
	}
	.Header-col {
		//.xs-col(100%);
		//.sm-col(auto);
		@media @xs {
			text-align: center;
			margin: .5rem 0;
		}
	}
	.Header-col_logo {
		text-align: center;
		.xs-col(100%);
		.sm-col(auto);
	}
	.Header-col_phone {
	}
	.Header-col_social {
	}
	@media @xs {
		position: relative;
		background-color: @black-bg;
	}
	@media @md {
		position: absolute;
	}
	@media @sm {
		position: relative;
		background-color: @black-bg;
	}
}